<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="on"  autofocus />
    <!-- <input type="submit" name="try" /> -->
  </form>
</div></div>

<br />

<h2>You found</h2>

<p id="found"></p> 
<!-- this will store the word already found-->
<br>

<p id="result"></p>
<br>
<!--this will store the word temp found according to the letter type now-->


<script>
  // use the method preventDefault to avoid the submit movement
  $("#entry").submit(function()
    {event.preventDefault();
  });

  $("#attempt").keyup(function(event){
    var type_in = $("#attempt").val(); //record what is the user typing right now
          // var body = $('#body');
          // body.removeHighlight();
          // body.highlight(type_in);
    var key_record = event.which; 
    // the method event.which is aimed at record the last movwment the user does 
    // for here is going to record the key typed in
    var switch_letter = String.fromCharCode(key_record);
    // the method is aimed at unicode a number into a character
    // for here is going to check if the input is valid which means 
    // if the input is a letter

  //the following part is checking whether the input is a letter
  if(!"ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(switch_letter)){
    return 
  }
  
  $.getJSON("/_check",{text:type_in}, function(data){
    report_message = data.result.ouput_message;
    report_tag = data.result.tag;
    report_check = data.result.check;

    console.log("report message" + report_message)

    if ((report_check == "FD")){
      $("#result").html("" + report_tag);
      $("#attempt").val("");
    }

    else if ((report_check == "ALF") || (report_check =="NOF") 
          || (report_check == "AGA")){

            $("#result").html(report_tag);
            $("#found").html(report_tag);
        }
    else if (report_check == "COOL"){
      window.location.replace("/success");
    }
  });
});
</script>


 </div> <!-- container -->
</body> </html>
